# ========================
# Build Output - Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# Build Output - Gradle
# ========================
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# Java JARs
# ========================
app.jar
*.jar
!.mvn/wrapper/maven-wrapper.jar

# ========================
# Database / Log Files
# ========================
*.db
*.db-journal
*.log
data/
logs/

# ========================
# Spring Tool Suite (STS)
# ========================
.apt_generated
.classpath
.factorypath
.project
.settings
.settings/
.springBeans
.sts4-cache

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr

# ========================
# NetBeans
# ========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
# Visual Studio Code
# ========================
# .vscode/

# ========================
# Documentation
# ========================
HELP.md
