<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
    <div th:fragment="navigation" class="bg-white border rounded-3 p-3 mb-4 shadow-sm">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-link rounded-pill"
          th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active' : ''}" th:href="@{/dashboard}">
          <i class="fas fa-home me-2"></i> Dashboard
        </a>
        <a class="nav-link rounded-pill"
          th:classappend="${#httpServletRequest.getRequestURI().startsWith('/api-configs') ? 'active' : ''}" th:href="@{/api-configs}">
          <i class="fas fa-cogs me-2"></i> API Configs
        </a>
        <a class="nav-link rounded-pill"
          th:classappend="${#httpServletRequest.getRequestURI().startsWith('/view/@' + username) ? 'active' : ''}"
          th:href="@{|/view/@${username}|}">
          <i class="fas fa-history me-2"></i> Request Logs
        </a>
        <a class="nav-link rounded-pill" sec:authorize="hasRole('ADMIN')"
          th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin') ? 'active' : ''}"
          th:href="@{/admin/users}">
          <i class="fas fa-users-cog me-2"></i> Admin
        </a>
      </nav>
    </div>
  </body>

</html>
